body,html{
  height: 100%;
}
.app{
  height: 100%;
  background: rgb(206,220,231); /* Old browsers */ /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(206,220,231,1) 1%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-radial-gradient(center ellipse, rgba(206,220,231,1) 1%,rgba(89,106,114,1) 100%);
  background: radial-gradient(ellipse at center, rgba(206,220,231,1) 1%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding-top: 10%;
  position: relative;
  overflow: auto;
}

.row1,.row2,.row3{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col1, .col2{
  border-right: 6px solid white;
}
.row1>.cube, .row2>.cube{
  border-bottom: 7px solid white;
}

.cube{
  width:110px;
  height: 110px;
  background-color: #224466;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pointer{
  cursor: pointer;
}
.msg{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  background-color: transparent;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000000;
  border-radius: 5px;
  height: 90px;
}
.sym{
  width: 50%;
  padding-top: 10px;
  text-align: center;
  margin: 0;
}
.score{
  width: 50%;
  padding-top: 10px;
  text-align: left;
}
.buttons{
  margin-top: 20px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;

}
.btn{
  width: 160px;
  margin-left: 2px;
}
.popup{
  position: absolute;
  visibility: hidden;
  padding-top: 35px;
  text-align: center;
  height: 20%;
  width: 330px;
  top: 40%;
  left: calc( (100% - 330px) / 2);
  background-color: #ffffff;
}
